.perfil {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.github {
    height:30px ;
    width: 30px;
}
.insta {
    height: 30px;
    width: 30px;
}
.gmail {
    height: 30px;
    width: 35px0
}